    body {
        margin: 0;
    }
    
    h1 {
        margin: 0;
    }
    
    p {
        margin: 0;
    }
    
    input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
        margin: 0;
    }
    
    input:active,
     :hover,
     :focus {
        outline: 0;
        outline-offset: 0;
    }
    
    a {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
    
    a:hover {
        color: orange;
    }
    
    ul {
        margin-left: 0;
        padding-left: 0;
    }
    
    li {
        list-style-type: none;
    }
    
    button {
        padding: 0;
        border: none;
        font: inherit;
        color: inherit;
        background-color: transparent;
    }
    
    .wrapper {
        max-width: 1600px;
        margin: 0 auto;
    }
    
    .wrap {
        margin: 0 auto;
        max-width: 1160px;
    }
    
    input {
        padding: 0;
        margin: 0;
        border: 0;
        border: none;
        cursor: default;
    }
    
    .wrap {}
    
    .pick {
        background: url(../../assets/imeges/panda_bg.png) no-repeat;
        padding-top: 24%;
    }
    
    .pick__bg {
        padding-bottom: 180px;
        background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    }
    
    .pick__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #FFFFFF;
        padding: 40px 0 9px 0;
    }
    
    .pick__blockWrap {
        padding: 0% 8%;
    }
    
    .pick__info {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
    }
    
    .pick__subtitle {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 130%;
        color: #FE9013;
        padding: 41px 0 61px 0;
    }
    
    .pick__block {
        background: rgba(255, 255, 255, 0.52);
        border-radius: 20px;
    }
    
    .pick__blockwWrap {
        padding: 0 8%;
    }
    
    .pick__block__title {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
        padding: 40px 0 10px 0;
        text-align: center;
        color: #FE9013;
    }
    
    .pick__block__info {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #333B41;
        padding: 11px 0;
    }
    
    .pick__block__imeges {
        display: flex;
        align-items: center;
        padding: 8% 23% 0 23%;
    }
    
    .pick__block__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .pick__block__text p:nth-child(1) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 72px;
        line-height: 80%;
        text-align: center;
        text-transform: uppercase;
        color: #000000;
    }
    
    .pick__block__text p:nth-child(2) {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        text-align: center;
        color: #333B41;
    }
    
    .pick__block__cros {
        margin: 0 64px 0 4px;
    }
    
    .pick__block__img {
        margin-top: -31px;
    }
    
    .pick__block__rengeBlock {
        width: 976px;
        height: 27px;
        margin: 7% 0 9.5% auto;
        background: #404950;
        border-radius: 2px;
    }
    
    .rengeBlock__text {
        position: relative;
        top: -35px;
        left: 6px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        color: #000000;
    }
    
    .rengeBlock__line {
        display: flex;
        width: 915px;
        height: 2px;
        gap: 120px;
        margin: -8px auto 0 auto;
        background: #72828E;
    }
    
    .rengeBlock__circle {
        width: 10px;
        height: 10px;
        left: 26px;
        top: 508px;
        border-radius: 50%;
        background: #FFEE2E;
        margin-top: -4px;
        cursor: pointer;
        transition: all 0.3s;
    }
    
    .rengeBlock__circle:hover {
        background: #FE9013;
    }
    
    .rengeBlock__circle:hover .rengeBlock__costItem {
        color: #FE9013;
    }
    
    .rengeBlock__circleActive .rengeBlock__costItem {
        color: #FE9013;
    }
    
    .rengeBlock__circleActive {
        background: #FE9013;
    }
    
    .rengeBlock__circleActive::after {
        content: '';
        position: absolute;
        border: 2px solid #FE9013;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin: -55px 0 0 -17px;
    }
    
    .rengeBlock__circleActive::before {
        content: '';
        position: absolute;
        border: 2px solid #FE9013;
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin: -5px;
    }
    
    .rengeBlock__costBlock {}
    
    .rengeBlock__costItem {
        width: 63px;
        position: relative;
        right: 30px;
        top: 29px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 140%;
        /* or 36px */
        text-transform: uppercase;
        color: #333B41;
    }
    
    .pick__pay {
        margin: 0 auto;
        width: 269px;
    }
    
    .pick__pay__amount {
        border: 1px solid #929699;
        border-radius: 2px;
        width: 268px;
        height: 54px;
        display: flex;
        justify-content: space-between;
    }
    
    .pick__pay__amount input {
        background: transparent;
        padding: 0 9px;
        width: 250px;
    }
    
    .pick__pay__amount img {
        width: 12px;
        padding-right: 5px;
        width: 12px;
        padding-right: 5px;
        position: absolute;
        margin: 14px 0 0 246px;
    }
    
    .pick__pay__radioBlock {
        display: flex;
        justify-content: space-around;
        padding: 11% 0px;
    }
    
    .pick__radioMonth label,
    .pick__radioOnc label {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333B41;
    }
    
    .pick__radioOnc {}
    
    .pick__pay__btm {}
    
    .pick__pay__btm button {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 140%;
        width: 298px;
        height: 54px;
        text-align: center;
        text-transform: uppercase;
        background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
        border-radius: 25px;
        color: #FFFFFF;
    }
    
    .pick__pay__text {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #333B41;
        width: 301px;
        padding: 29px 0 23% 0;
    }
    
    @media (max-width: 1326px) {
        .pick {
            background: url(../../assets/imeges/panda_bg.png) no-repeat 28% 0%;
            padding-top: 24.4em;
        }
        .pick__blockWrap {
            padding: 0% 5%;
        }
        .pick__title {
            padding: 40px 10% 29px 0;
        }
        .pick__subtitle {
            padding: 47px 0 39px 0;
        }
        .pick__block__title {
            padding: 20px 0 0px 0;
        }
        .pick__block__text p:nth-child(2) {
            width: 164px;
            padding-top: 8px;
        }
        .pick__block__text p:nth-child(1) {
            padding-top: 29px;
        }
        .pick__block__imeges {
            padding: 9% 33% 0 18%;
        }
        .rengeBlock__circle:nth-child(1) {
            display: none;
        }
        .pick__block__rengeBlock {
            width: 810px;
            margin: 10% auto;
        }
        .rengeBlock__line {
            width: 785px;
        }
        .rengeBlock__costItem {
            right: 14px;
            top: 34px;
        }
        .pick__pay {
            padding-top: 15px;
            width: 295px;
        }
        .pick__pay__amount {
            margin: 0 0 0 11px;
        }
        .pick__pay__radioBlock {
            padding: 9% 0px;
            width: 250px;
            margin: 0 0 0 11px;
        }
        .pick__pay__text {
            padding: 29px 0 16% 0;
        }
        .pick__bg {
            padding-bottom: 29px;
        }
    }
    
    @media (max-width: 939px) {
        .pick__blockWrap {
            padding: 0;
        }
        .pick {
            background: url(../../assets/imeges/panda_bg_laptop.png) no-repeat 28% 2.5%;
            padding-top: 23em;
            background-size: 100%;
        }
        .pick__title {
            font-size: 24px;
            line-height: 120%;
            padding: 5% 0 3.2% 0;
        }
        .pick__subtitle {
            padding: 28px 0 30px 0;
        }
        .pick__block__title {
            padding: 29px 0 0px 0;
        }
        .pick__block__info {
            padding: 22px 16px;
            text-align: center;
        }
        .pick__block__text {
            width: 156px;
            margin: 4% 0px 0% 0px;
            padding: 0 0 0 29px;
        }
        .pick__block__imeges {
            padding: 10% 0% 2% 0%;
        }
        .pick__block__text p:nth-child(2) {
            padding: 0px;
        }
        .pick__block__cros {
            margin: 0 65px 0 11px;
        }
        .pick__block__text p:nth-child(1) {
            padding: 0px 0 12px 0;
        }
        .pick__block__text {
            margin: 0;
            height: 113px;
            justify-content: flex-end;
        }
        .rengeBlock__circle:nth-child(3),
        .rengeBlock__circle:nth-child(2) {
            display: none;
        }
        .pick__block__rengeBlock {
            width: 600px;
            margin: 8.7% auto;
        }
        .pick__pay__amount input {
            width: 158px;
        }
        .rengeBlock__line {
            width: 529px;
        }
        .rengeBlock__costItem {
            right: 19px;
            top: 33px;
        }
        .rengeBlock__text {
            position: relative;
            top: -28px;
            left: 11px;
        }
        .pick__pay__amount {
            Width: 178px;
            Height: 40px;
            margin: 31px 0px 0 20%;
        }
        .pick__pay__amount img {
            margin: 9px 0 0 155px;
        }
        .pick__pay__radioBlock {
            padding: 11% 0px 9% 0;
        }
        .pick__bg {
            padding-bottom: 46px;
        }
        .pick__pay__text {
            padding: 29px 0 11% 0;
        }
    }
    
    @media (max-width: 639px) {
        .pick {
            background: url(../../assets/imeges/panda_bg_mobile.png) no-repeat 28% 2.9%;
            padding-top: 13.7em;
            background-size: 100%;
        }
        .pick__title {
            padding: 10% 0 6.2% 0;
        }
        .pick__subtitle {
            font-size: 24px;
            padding: 25px 0 30px 0;
        }
        .pick__block__title {
            font-size: 24px;
        }
        .pick__block__title {
            padding: 20px 0 0px 0;
        }
        .pick__block__info {
            padding: 11px 0 0 0;
            font-size: 16px;
        }
        .rengeBlock__costItem {
            width: 27px;
        }
        .pick__block__text p:nth-child(1) {
            font-size: 40.6015px;
        }
        .pick__block__text p:nth-child(2) {
            font-size: 9.02255px;
        }
        .pick__block__img img {
            width: 151.4px;
        }
        .pick__block__cros img {
            width: 7.89px;
        }
        .pick__block__text p:nth-child(2) {
            padding: 7px 0 27px 0;
        }
        .pick__block__text p:nth-child(1) {
            padding: 0;
        }
        .pick__block__imeges {
            padding: 13% 0% 2% 0%;
        }
        .pick__block__text {
            width: 31px;
        }
        .pick__block__cros {
            margin: 0 38px 9px 35px;
        }
        .pick__block__img {
            margin-top: -24px;
        }
        .pick__block__img img {
            width: 157px;
        }
        /* rengeBlock */
        .rengeBlock__line {
            gap: 60px;
            width: 265px;
            height: 1px;
            margin: -13px auto 0 auto;
        }
        .pick__block__rengeBlock {
            width: 300px;
            height: 13.5px;
        }
        .rengeBlock__circle {
            width: 5px;
            height: 5px;
            margin-top: -2px;
        }
        .pick__block__rengeBlock {
            margin: 8.8% auto;
        }
        .rengeBlock__costItem {
            right: 9px;
            top: 16px;
            font-size: 13px;
        }
        .rengeBlock__circleActive::before {
            content: '';
            position: absolute;
            border: 1px solid #FE9013;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            margin: -3px -4px -4px -3.5px;
        }
        .rengeBlock__circleActive::after {
            content: '';
            position: absolute;
            border: 1px solid #FE9013;
            border-radius: 50%;
            width: 18px;
            height: 18px;
            margin: -26px 0 0 -7px;
        }
        .rengeBlock__text {
            top: -30px;
            left: 0px;
        }
        .pick__pay {
            padding-top: 0;
        }
        .pick__pay__amount {
            margin: 48px 0px 0 20%;
        }
        .pick__pay__amount img {
            margin: 9px 0 0 158px;
            width: 11px;
        }
        .pick__radioMonth label,
        .pick__radioOnc label {
            padding: 0 0px 2px 8px;
        }
        .pick__pay__radioBlock {
            padding: 9% 0px 9% 0;
        }
        .pick__pay__text {
            padding: 29px 0 7% 0;
        }
        .pick__bg {
            padding-bottom: 20px;
        }
        .pick__pay__text {
            padding: 29px 0 7% 0;
        }
    }